.header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: #495C83;
    background-color: white;
    padding-top: 34px;
    padding-bottom: 20px;
    padding-left: 165px;
}
